.env
.data
node_modules
components/routes/_*
.sass-cache/
.DS_Store

app/node_modules
app/.env
app/node_modules/**/*
app/.expo/*
app/npm-debug.*
app/*.jks
app/*.p12
app/*.key
app/*.mobileprovision

bot/node_modules
bot/.env
bot/app/.data